<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Xcontent-type" content="text/html">    
    <title><%= title %></title>
    <link rel='stylesheet' 
    href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' 
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="conteiner">
        <header>
            <h1 class="display-4">
                <%= title %>
            </h1>            
        </header>
        <div role="main">                        
            <a href="bets/select">レース選択画面へ</a>
            <% if(bet != ""){ %>
            <br>
            <p class="h4">馬券登録履歴(レースごと)</p>            
            <table class="table">
                <tr>                                        
                    <th>レース名</th>                    
                    <th>賭け金</th>
                    <th>払い戻し</th>
                </tr>
                <% for(var i in bet){ %>
                    <tr>                        
                        <td><a href="/bets/delete/<%= bet[i].id %>"><%= bet[i].racename %></a></td>
                        <td><%= bet[i].money %>円</td>
                        <td>まだだよー</td>
                    </tr>
                <% } %>
            </table>
            <% } %>
            <% if(horse != ""){ %>
                <br>
                <p class="h4">馬券登録履歴(馬ごと)</p>
                <table class="table">
                    <tr>                                                              
                        <th>馬名</th>                                                                    
                        <th>賭け金</th>
                        <th>払い戻し</th>
                    </tr>
                    <% for(var i in horse){ %>
                        <tr>                                                        
                            <td><%= horse[i].name %></td>
                            <td><%= horse[i].money %>円</td>
                            <td>まだだよー</td>
                        </tr>
                    <% } %>
                </table>
                <% } %>

                <% if(refund != ""){ %>
                    <br>
                    <p class="h4">馬券を購入したレース結果</p>
                    <table class="table">                                                                                                                                                                                                                                                                                                                  
                    <% for(var i in refund){ %>
                        <tr>                                                        
                            <th colspan="6"><a href="https://race.netkeiba.com/race/result.html?race_id=<%= refund[i].raceId %>&rf=race_submenu" target="_blank"><%= refund[i].raceId %></a></th>
                        </tr>
                        <tr>       
                            <th>単勝</th><th colspan="3">複勝</th><th>枠連</th><th>馬連</th>                                                                                                                                                                                  
                        </tr>           
                        <tr>
                            <td><%= refund[i].first %></td>  
                            <td><%= refund[i].first %></td>                              
                            <td><%= refund[i].second %></td>      
                            <td><%= refund[i].third %></td>   
                            <td>まだだよー</td>
                            <td><%= refund[i].first %> - <%= refund[i].second %></td>                                                                                                        
                        </tr>   
                        <tr>
                            <td><%= refund[i].win %>円</td>
                            <%
                                for(var j in refund[i].place){
                                    if(j == 0){
                            %>
                            <td>
                            <%
                                    }
                                    if(refund[i].place[j] != ','){
                            %>
                                        <%= refund[i].place[j] %>
                            <%
                                    }else{
                            %>
                            円</td>
                            <td>
                            <%
                                    }
                                }
                            %>
                            円</td>                            
                            <td><%= refund[i].bracket %>円</td>
                            <td><%= refund[i].quinella %>円</td>
                        </tr>                            
                        <tr>       
                            <th colspan="3">ワイド</th><th>馬単</th><th>3連複</th><th>3連単</th>                                                                                                                                      
                        </tr>   
                        <tr>
                            <td><%= refund[i].first %> - <%= refund[i].second %></td>  
                            <td><%= refund[i].first %> - <%= refund[i].third %></td>                              
                            <td><%= refund[i].second %> - <%= refund[i].third %></td>      
                            <td><%= refund[i].first %> > <%= refund[i].second %></td>   
                            <td><%= refund[i].first %> - <%= refund[i].second %> - <%= refund[i].third %></td>
                            <td><%= refund[i].first %> > <%= refund[i].second %> > <%= refund[i].third %></td>                                                                               
                        </tr>   
                        <tr>                                                        
                            <%
                                for(var j in refund[i].wid){
                                    if(j == 0){
                            %>
                                <td>
                            <%
                                    }
                                    if(refund[i].wid[j] != ','){
                            %>
                                        <%= refund[i].wid[j] %>
                            <%
                                    }else{
                            %>
                                円</td>
                                <td>
                            <%
                                    }
                                }
                            %>
                                円</td> 
                            <td><%= refund[i].exacta %>円</td>
                            <td><%= refund[i].trio %>円</td>
                            <td><%= refund[i].trifecta %>円</td>
                        </tr>                       
                    <% } %>                    
                    </table>
                    <% } %>
            <p class="mt-4">
                <a href="/">&lt;&lt; ホーム画面へ戻る</a>             
            </p>
        </div>    
</body>
</html>