<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Xcontent-type" content="text/html">    
    <title><%= title %></title>
    <link rel='stylesheet' 
    href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' 
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="conteiner">
        <header>
            <h1 class="display-4">
                <%= title %>
            </h1>            
        </header>
        <div role="main">            
            <ol class="text-danger">
                <% if(err != null){ %>
                    <% for(var i in err){ %>
                        <li><%= err[i] %>が未入力です。</li>
                    <% } %>                      
                <% } %> 
            </ol>
            <% if(url != null){ %>            
                <a href="<%= url %>" target="_blank"><%= date %><%= place %><%= num %>Rの結果</a>                                          
            <% } %> 
            <form method="post" action="/bets">                
                <div class="form-group">                    
                    <label for="date">開催日時</label>
                    <input type="date" name="date" id="date" value="<%= date %>" class="form-control"> 

                    <label for="place">開催場所</label>                    
                    <select name="place" id="place" class="form-control">
                        <% for(var i in placeArr){ %>
                            <% if(placeArr[i] == place){ %>
                                <option value="<%= placeArr[i] %>" selected><%= placeArr[i] %></option>  
                            <% }else{ %>
                            <option value="<%= placeArr[i] %>"><%= placeArr[i] %></option>
                            <% } %>   
                        <% } %>              
                    </select>

                    <label for="count">第何回</label>
                    <select name="count" id="count" class="form-control">
                        <% for(var i = 1; i <= 6; i++){ %>
                            <% if(i == count){ %>
                                <option value="<%= i %>" selected><%= i %>回</option>  
                            <% }else{ %>
                            <option value="<%= i %>"><%= i %>回</option>
                            <% } %>   
                        <% } %>                          
                    </select>

                    <label for="day">何日目</label>
                    <select name="day" id="day" class="form-control">
                        <% for(var i = 1; i <= 12; i++){ %>
                            <% if(i == day){ %>
                                <option value="<%= i %>" selected><%= i %>日目</option>  
                            <% }else{ %>
                            <option value="<%= i %>"><%= i %>日目</option>
                            <% } %>   
                        <% } %>                          
                    </select>

                    <label for="num">レース番号</label>
                    <select name="num" id="num" class="form-control">
                        <% for(var i = 1; i <= 12; i++){ %>
                            <% if(i == num){ %>
                                <option value="<%= i %>" selected><%= i %>R</option>  
                            <% }else{ %>
                            <option value="<%= i %>"><%= i %>R</option>
                            <% } %>   
                        <% } %>                          
                    </select>
                </div>
                <input type="submit" value="馬券登録へ" class="btn btn-primary">
            </form>                
            <p class="mt-4">
                <a href="/">&lt;&lt; ホーム画面へ戻る</a>             
            </p>
        </div>    
</body>
</html>